.form {
  padding: 142px 50px;
  background-color: white;
  position: relative;
  border-radius: 10px;
  width: 440px;
  height: 550px;
  margin: 10px auto 0 auto;
}

.loaderWrapper{
    display: flex;
    flex-direction: column;
    height: 355px;
    justify-content: space-between;
}

.loader{
  align-self: center;
    margin-top: 45px;

}

.loader div {
  padding: 25px;
}

.btnLoader, .btnLoaderReg{
  bottom: 130px;
  position: relative;
}

.btnLoaderReg{
  bottom:22px
}

.logo {
  width: 28px;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 20px;
  left: 200px;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.error, .emailError, .passConfirmError{
  color: red;
  width: 78%;
position: absolute;
top: 56%;
left: 13%;
font-size: 12px;
font-weight: 600;
}

.passConfirmError{

top: 73% !important;

}

.form h3 {
  position: absolute;
  top: 13%;
  left: 28%;
  font-weight: 700;
}

.success, .generalError {
  text-align: center;
  border-radius: 15px;
  color: rgb(249, 249, 249);
  font-size: medium;
  font-weight: 600;
  background-image: linear-gradient(45deg,#fd267a,#ff6036);
  position: absolute;
  width: 77%;
  top: 112px;
}

.generalError {
  background-image: red !important;
}

.registerBtn{
  margin-top: 14px;
}

.passConfirmWrapper{
  margin-top: 24px;
}

.passWrapper{
  margin-top: 20px;
}

.emailError{

top: 39% !important;
left: 13% !important;

}