.socialUl img {
    width: 25px;
}

.socialUl {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.socialLabel {
    font-weight: bold;
    font-size: 1.2em;
    margin: 2px 0 9px 32px;
}

.socialSection {
    margin: 10px -28px;
}

