.suggestedUserContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 60px;
    width: 375px;
    height: 600px;
    background-image: url('https://thispersondoesnotexist.com/image');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.name{
    font-weight: bolder;
    margin-right: 10px;
}
.nameAge{
    font-size: 25px;
    color: white;
    padding-left: 20px;
    z-index: 1;
    
}
.basicInfo{
    display: flex;
    font-size: 16px;
    color: white;
    padding-left: 20px;
    z-index: 1;
}
.info{
    margin-right: 5px;
}
.detailedInfo{
    cursor: pointer;;
}