.chatPath{
    width: 100%;
    height: 90px;
    display: flex;
    cursor: pointer;
}


.msgBadge{
    position: absolute !important;
    left: 88%;
    top: 14%;
}

.chatWithPic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.chatWithName{
    font-size: 18px;
    font-weight: 400;
}
.nameAndLastMessage{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.lastMessage, .lastMessageUnseen{
    font-size: 14px;
    color: gray;
}

.lastMessageUnseen{
    color: black;
    font-weight: 800;
}